*,
*::after,
*::before {
  box-sizing: border-box;
}
*{
  text-decoration: none;
}

html {
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-size: 1.2rem;
  --color: rgb(190, 30, 19);
  --color-light: #adf;
  --color-dark: rgb(0, 0, 0);
  --radius: 0.2rem;
}

body {
  margin: 1.5rem;
  animation: corDeFundo 2s infinite;
}

body,
input,
textarea,
button {
  font-size: var(--font-size);
  font-family: var(--font);
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 1rem 0;
}

ul {
  list-style: square;
}

li {
  margin-bottom: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

input,
textarea {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.8rem;
  border-radius: var(--radius);
  background: #eee;
  transition: 0.2s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color);
  background: white;
  box-shadow: 0 0 0 3px var(--color-light);
}

button {
  cursor: pointer;
  border: none;
  border-radius: var(--radius);
  transition: 0.1s;
  background: var(--color);
  color: var(--color-dark);
  padding: 0.8rem 1.6rem;
}

button:hover,
button:focus {
  background: var(--color);
  box-shadow: 0 0 0 3px var(--color-light), 0 0 0 4px var(--color);
  outline: none;
}

button:active {
  box-shadow: 0 0 0 3px var(--color), 0 0 0 4px var(--color);
}

button:disabled {
  opacity: 0.5;
  cursor: wait;
}

hr {
  border: 2px solid black;
  margin: 2rem auto;
}

.Pokemon-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    animation-name: top;
    animation-duration: 0.5s;
   
  animation-fill-mode: forwards;
}
.Pokemon-buttons button{
  box-shadow: 5px 5px lightblue;
}

.Pokemon-buttons button {
    margin: 0.5rem;
    width: 35%; 
}
.Pokemon-buttons button:hover {
  width: 40%; 
}

.Titulo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px;
}


.Header2{
  display: flex;
  flex-direction:row;
  justify-content:start;
  padding: 2rem;
  border: 3px solid rgb(221, 16, 16);
  border-radius: 9px;
}
.Header2 strong{
  margin-left: 2rem;
  font-size: 24px;
}

.Infos{
  border: 2px solid rgb(221, 16, 16);
  border-radius: 9px;

}
.Type{
  font-weight: bold;
  text-decoration: none;
  font-size: 24px;
  margin-left: 2rem;
}
.Type:hover{
  text-decoration: underline;
}
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(133, 133, 133, 0.8); 
    backdrop-filter: blur(2px); 
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .confirm-container {
    background-color: #fff; 
    padding: 40px;
    border-radius: 10px;
    text-align: center;
  }
  .stats{
    font-weight: bold;
  }
  .pesquisar{
    display: flex;
    flex-direction: row;
    margin: 10px;
    
  }
  .pesquisar input{
    box-shadow: 10px 10px lightblue;
  }
  .pesquisar button{
    box-shadow: 10px 10px lightblue;
    
  }
  .pesquisar ::placeholder{
    font-size: 15px;
  }
  .pesquisar button{
    margin-left: 20px;
    
  }
  .Menu :hover{
    color: rgb(240, 14, 25);
    animation-name: fonteAnim;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    text-decoration: underline;
  }
.active{
  color: rgb(204, 10, 20);
  
}
.active:hover{
  color: rgb(204, 10, 20);
  animation-name: fonteAnim;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  text-decoration: underline;
}
.Menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
  font-weight: bold;
  border: 2px solid rgb(221, 16, 16);
  border-radius: 9px;
  padding: 15px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 10px 10px lightblue;
  /* animation-name: top;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards; */
}



@keyframes fonteAnim {
  0%   {}
  100% {font-size: 23px;}
}
@keyframes top {
  0%   {margin-left: 200px;
        opacity: 0;
  }
  100% { opacity: 1;}
}